
.word {
    text-decoration: none;
    color: #412F25;
  }
  
.word:hover {
    text-decoration: underline;
}

.form-container {
  max-width: 80%;
}

.def-container {
  max-width: 90%;
  margin-top: 13%;
  background: white;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 10px;
}
