

.word {
    text-decoration: none;
    color: ##412F25;
  }
  
.word:hover {
    text-decoration: underline;
}

.left-side {
  min-width: 50%;
}

.right-side {
  min-width: 50%;
}

.form-container {
  max-width: 80%;
  margin: auto;
}

.def-container {
  max-width: 90%;
  margin: 13% auto;
  background: white;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 10px;
}
