body {
  background: linear-gradient(180deg, #D3BDB0, #C4A797);
}
/* App at 1024px width */
@media screen and (min-width: 1024px) {

}

.App {
  display: flex;
  flex-direction: column;
  background-color: #D3BDB0;
  /* background: linear-gradient(90deg, #D3BDB0, #C4A797); */
  /* background-size: cover;
  min-height: 800px;
  color: #271C16; */
}

.App-container {
  
}

textarea, button, input {
  outline: none;
  border: none;
  margin-top: 5px;
}

textarea {
  padding: 8px 14px 8px 14px;
  border-radius: 10px;
  resize: none;
}

button, input {
  padding: 4px;
  border-radius: 5px;
}

.title {
  font-size: 50px;
  font-weight: 2em;
}

.title-rule {
  width: 80%;
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

.non-header {
  display: flex;
  flex-direction: row;
}

.app-header {
  margin: 5px 10px 10px 50px;
}

.left-side {
  margin: 5px 10px 10px 100px;
}

.right-side {
  margin: 5px 50px 10px 10px;
}

.middle {
  margin: 5px 250px 5px 100px;
}

.other-title {
  font-size: 1.5em;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: right;
}



/* .nav-bar {
  text-align: center;
} */