@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  font-family: "Lora", serif;
  background-color: #d3bdb0;
  /* background: linear-gradient(45deg, #D3BDB0, #C4A797); */
}

/* .App {
  display: flex;
  flex-direction: column;
  color: #271C16;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
} */

/* App at 1024px width */
@media screen and (min-width: 875px) {
}

.App {
  display: flex;
  flex-direction: column;
  color: #271c16;
  max-width: 80%;
  margin: 0 auto;
}

.app-header {
  max-width: 100%;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-title {
}

.title-rule {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

.non-header {
  display: flex;
  flex-direction: row;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

/* app margins */
.app-header {
  /* max-width: 800px; */
  /* margin: 5px 10px 10px 50px; */
}

/* .left-side {
  margin: 5px 10px 10px 100px;
}

.right-side {
  margin: 5px 50px 10px 10px;
} */

/* .middle {
  margin: 5px 250px 5px 100px;
} */

.other-title {
  font-size: 1.5em;
  font-weight: bold;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

/* .container {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .nav-bar {
  text-align: center;
} */

/* buttons and inputs */
textarea,
button,
input {
  outline: none;
  margin-top: 5px;
  font-family: lora;
}

textarea {
  max-width: 90%;
  padding: 0.5em 0.7em 0.5em 0.7em;
  border: none;
  border-radius: 10px;
  resize: none;
}

button,
input {
  padding: 4px;
  border-radius: 5px;
  font-family: "Lora", "Serif";
}

.title-input {
  /* background-color: #B1C6D3; */
  border: 1px solid #8dacbf;
  margin-right: 4px;
}

.submit-save {
  /* background-color: #BDB1D3; */
  display: inline-block;
  border: 1px solid #9f8dbf;
  margin-right: 4px;
}

.submit-save:hover {
  background-color: #c1b6d6;
}
